thop==0.0.31.post2005241907
scipy
seaborn
joblib==1.0.1
matplotlib
torch==1.10.1
pandas
opencv_python
tqdm
numpy
torchvision==0.11.2
requests==2.25.1
onnx==1.10.2
Pillow
PyYAML==6.0
wandb==0.12.9
dlib
mtcnn
retina-face