numpy
scipy
matplotlib
opencv-python
apscheduler
psutil
joblib
torch
torchvision
thop
onnxruntime
dlib
mtcnn
retina-face
six
PyYaml
pandas
seaborn
facenet
arcface
keras-vggface
keras_applications
astropy